html,
body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 100%;
}
.overall-container{
    display: flex;
    flex-direction: row;
    height: 100%;
}
img{
    height: 100%;
    width: 100%;
    object-fit: fill;
}
.home-base{
    padding: 1rem;
    padding-bottom: 0.1rem;
    height: 98%;
    position: relative;
}
.highlights{
    position: relative;
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 0.4rem;
    overflow: hidden;
    background-color: rgb(136, 78, 78);
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(240, 248, 255, 0.4);
    padding: 0.25rem;
}
.overlay p{
    position: absolute;
    top: 4.5rem;
    text-align: center;
    color: blue;
    font-weight: 600;
}
.address{
    color: rgb(129, 129, 129);
}
.duration-selections{
    display: flex;
    flex-direction: column;
    width: 3rem;
    display: none;
}
.select-price,
.w-item-price{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.duration-selections > span{
    border-bottom: 0.1rem solid gray;
    padding: 0.2rem;
    margin-top: 0.1rem;
}
.h3, .price{
    font-size: larger;
    font-weight: bold;
}
.home-left{
    max-width: 10rem;
}
.home-main{
    min-width: 20%;
    max-width: 60%;
    width: auto;
}
.logo{
    margin: 1rem 0.5rem;
    font-size: 2rem;
}
.menu-item,
.log > span{
    margin: 0.5rem 0;
    padding: 0.5rem;
    font-size: larger;
    border: 0.1rem solid gray;
    border-radius: 0.4rem;
    box-shadow: 0 0 0.3rem;
    text-align: center;
}
.log{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    color: blue;
}
.log-in{
    display: none;
}
.location{
    display: flex;
}


