html,
body{
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.overall-container{
    display: flex;
    flex-direction: row;
}
.home-base{
    height: 98%;
    padding: 0.5rem;
    position: relative;
}
img{
    height: 100%;
    width: 100%;
    object-fit: fill;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.address{
    color: rgb(129, 129, 129);
}
.duretion-selections{
    display: flex;
    flex-direction: column;
    width: 3rem;
    display: none;
}
.select-price,
.w-item-price{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.duretion-selections > span{
    border-bottom: 0.1rem solid gray;
    padding: 0.2rem;
    margin-top: 0.1rem;
}
.h3, .price{
    font-size: larger;
    font-weight: bold;
}
